services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    Kookaburra\SystemAdmin\:
        resource: '../../../src/*'
        exclude: '../../../src/{DependencyInjection,Resources,Tests,Form/EventListener}'

    Kookaburra\SystemAdmin\Manager\Importer:
        arguments:
            $logger: '@logger'
            $timeZone: "%timezone%"
        tags:
            - { name: monolog.logger, channel: importer }

    Kookaburra\SystemAdmin\Notification\NotificationSender:
        arguments:
            $logger: '@monolog.logger.notification'

