{% extends 'kookaburra.html.twig' %}

{% set moduleName = 'System Admin' %}
{% set module = {
    baseURL: 'system_admin',
    crumbs: [
        {uri: 'system_admin__system_settings', name: 'System Admin'},
    ],
    title: 'System Settings'} %}
{% set breadcrumbs = 'new' %}

{% block content %}
    <div id="formContent"></div>
{% endblock content %}
